In [1]:
import pandas as pd
import numpy as np

In [11]:
ticket_df=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\accenture_ticket\Accenture tickets.xlsx")

In [12]:
ticket_df.head()

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Closed,2021-02-16 09:49:14,2021-06-02 14:10:57
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Closed,2021-03-09 12:38:36,2021-06-02 14:11:07
2,1000000101,515799,2021-04-12 15:27:33,MDMS,vijay bharoliya,High,Notification Related,Notifications (Welcome Message),Other,Closed,2021-04-13 15:27:33,2021-06-02 14:12:00
3,1000000107,387235,2021-04-19 14:18:39,MDMS,vijay bharoliya,Low,Any other issue - Smart Meter,Any other issue - Smart Meter,Other,Closed,2021-04-29 14:18:39,2021-06-02 14:08:18
4,1000000101,541307,2021-04-19 15:16:15,MDMS,vijay bharoliya,Low,Internal ID Creation,Internal ID Creation,Email,Closed,2021-04-29 15:16:15,2021-06-02 14:11:54

In [8]:
#ticket_df[(ticket_df['Issue Type']=='Notification Related')]

In [19]:
ticket_df['Date / Time'].dt.year.unique().tolist()

[2021, 2022, 2023]

In [21]:
ticket_df['Assignee'].unique().tolist()

['vijay bharoliya',
 'Sudhakar Yadav',
 'Pushpendra Singh',
 'Rattnam Choubey',
 'Gayatri kulkarni',
 'Girdhar Tripathi',
 'Amit Sonkar',
 'Admin User',
 'Satyam kumar',
 nan,
 'Ajay chalke',
 'Durga Sri',
 'Rohit Dayal']

In [ ]:
select_Startup = st.sidebar.selectbox('select startup',sorted(df['Issue Type'].unique().tolist()))
    btn1=st.sidebar.button('find startup detail')

# priority ticket

In [ ]:


# total no. of ticket as per priority

In [22]:
ticket_df.head(2)

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Closed,2021-02-16 09:49:14,2021-06-02 14:10:57
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Closed,2021-03-09 12:38:36,2021-06-02 14:11:07

In [30]:

total_count=ticket_df[(ticket_df['Priority']=='Medium')].count().head(1).values[0]
total_count
#Division_wise_Meter_Replacement_and_New_Connection[(Division_wise_Meter_Replacement_and_New_Connection['STATUS']=='SUCCESS')]

141

In [31]:
ticket_df[(ticket_df['Priority']=='select_ticket_priority')]['Ticket No'].count()

0

In [35]:
ticket_df[(ticket_df['Priority']=='Medium')].count().values[0]

141

In [34]:
ticket_df[(ticket_df['Priority']=='select_ticket_priority')].count().values[0]

0

In [42]:
#ticket_df[(ticket_df['Issue Type']=='Excess/less Consumption') & (ticket_df['Priority']=='Medium')]

In [52]:
ticket_df[ticket_df['Priority']=='Low'].count().values[0]

174

In [48]:
ticket_df.head()

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Closed,2021-02-16 09:49:14,2021-06-02 14:10:57,2021
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Closed,2021-03-09 12:38:36,2021-06-02 14:11:07,2021
2,1000000101,515799,2021-04-12 15:27:33,MDMS,vijay bharoliya,High,Notification Related,Notifications (Welcome Message),Other,Closed,2021-04-13 15:27:33,2021-06-02 14:12:00,2021
3,1000000107,387235,2021-04-19 14:18:39,MDMS,vijay bharoliya,Low,Any other issue - Smart Meter,Any other issue - Smart Meter,Other,Closed,2021-04-29 14:18:39,2021-06-02 14:08:18,2021
4,1000000101,541307,2021-04-19 15:16:15,MDMS,vijay bharoliya,Low,Internal ID Creation,Internal ID Creation,Email,Closed,2021-04-29 15:16:15,2021-06-02 14:11:54,2021

In [81]:
ticket_df['year']=ticket_df['Date / Time'].dt.year

In [78]:
#ticket_df['year'] = pd.to_datetime(ticket_df['year'])

In [82]:
ticket_df.head(3)

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Resolved,2021-02-16 09:49:14,2021-06-02 14:10:57,2021
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Resolved,2021-03-09 12:38:36,2021-06-02 14:11:07,2021
2,1000000101,515799,2021-04-12 15:27:33,MDMS,vijay bharoliya,High,Notification Related,Notifications (Welcome Message),Other,Resolved,2021-04-13 15:27:33,2021-06-02 14:12:00,2021

In [49]:
ticket_df['Priority'].unique().tolist()

['Medium', 'High', 'Low', 'Urgent']

In [55]:
ticket_df.groupby('Issue Type')['Ticket No'].count().sort_values(ascending=False)

Issue Type
MDMS Related                     176
Any other issue - Smart Meter     99
Internal ID Creation              44
Smart Meter (Query)               43
Excess/less Consumption           42
Excess/less Charge Deduction      24
Notification Related              12
New Development Related           11
Non-smart meter related           10
Recharge Related                   6
Infrastructure                     5
App related issue (SCM)            3
Disconnection Related              3
HES ( Head end System)             2
WFM (Work force management)        2
Balance / Recharge                 1
Name: Ticket No, dtype: int64

In [63]:
ticket_df.groupby(['year','Priority'])['Ticket No'].count().unstack()

Priority  High  Low  Medium  Urgent
year
2021        36    6      33       4
2022        64   31      14      34
2023        15  137      94      15

In [ ]:
df.groupby(['Year', 'Category']).sum().unstack()

In [66]:
ticket_df['Status']=ticket_df['Status'].replace(['Closed'], 'Resolved')

In [67]:
#

ticket_df[ticket_df['Priority']=='Low'].groupby('Status')['Ticket No'].count()

Status
In Process     17
Open           31
Resolved      126
Name: Ticket No, dtype: int64

In [68]:
ticket_df['Priority'].unique()

array(['Medium', 'High', 'Low', 'Urgent'], dtype=object)

In [ ]:
ticket_df.groupby('Issue Type')['Ticket No'].count().sort_values(ascending=False)

In [71]:
issue_type_year_wise=ticket_df[ticket_df['Issue Type']=='Excess/less Charge Deduction'].groupby('year')['Ticket No'].count()

year
2021     5
2022     6
2023    13
Name: Ticket No, dtype: int64

In [73]:
issue_type_status_wise=ticket_df[ticket_df['Issue Type']=='Excess/less Charge Deduction'].groupby('Status')['Ticket No'].count()

Status
In Process     1
Open           2
Resolved      21
Name: Ticket No, dtype: int64

In [77]:
ticket_df[(ticket_df['Issue Type']=='Excess/less Charge Deduction')  & ((ticket_df['Status']=='Open') | (ticket_df['Status']=='In Process')) ]

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year
456,1000000107,413729,2023-09-12 13:10:21,MDMS,NaN,Medium,Excess/less Charge Deduction,Excess/less charge Deduction rel,Other,Open,2023-09-15 13:10:21,NaT,2023
476,1000000101,709052,2023-09-26 13:04:32,MDMS,Rattnam Choubey,Medium,Excess/less Charge Deduction,Excess/less charge Deduction rel,Email,Open,2023-09-29 13:04:32,NaT,2023
478,1000000101,281086,2023-09-29 17:46:55,MDMS,Gayatri kulkarni,Medium,Excess/less Charge Deduction,Excess/less charge Deduction rel,Phone,In Process,2023-10-02 17:46:55,NaT,2023

In [83]:
ticket_df.groupby('year')['Ticket No'].count()

year
2021     79
2022    143
2023    261
Name: Ticket No, dtype: int64