In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
ticket_df=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\accenture_ticket\Accenture tickets.xlsx")

In [54]:
ticket_df['year']=ticket_df['Date / Time'].dt.year

In [55]:
ticket_df['dealay_days']=(ticket_df['Resolve Date'] - ticket_df['Due Date']).dt.days

In [56]:
ticket_df['Status']=ticket_df['Status'].replace(['Closed'], 'Resolved')

In [57]:
ticket_df.loc[ticket_df['dealay_days'] < 1, 'dealay_days'] = 0
ticket_df['dealay_days'] = ticket_df['dealay_days'].fillna(-5)

In [58]:
ticket_df['Category']=ticket_df['dealay_days'].apply(lambda x: 
    'In Process or Open' if x == -5 else(
    'No delay' if x == 0 else(
    'less than 6 days' if x < 5 else (
    'less than 10 days' if x < 10 else (
    'less than 20 days' if x < 21 else 'more than 20 days')))))

In [59]:
ticket_df['YearMonth'] = ticket_df['Date / Time'].dt.strftime('%Y-%m')

In [ ]:
# Convert the 'Year' column to datetime objects

ticket_df['Year_new'] = pd.to_datetime(ticket_df['Date / Time'], format='%Y')
# Extract the year and quarter
ticket_df['Year_new'] = ticket_df['Year_new'].dt.year
#ticket_df['Quarter_new_new_check'] = ticket_df['Year_alpha'].index.to_series().add(1)
# Extract the quarter and create a new column
ticket_df['Quarter'] = ticket_df['Date / Time'].dt.quarter
# Create a custom function to format the year and quarter

def format_year_quarter(row):
    return f"{row['Year_new']}-Q{row['Quarter']}"

# Apply the custom function to create the 'YearQuarter' column
ticket_df['yr_qtr'] = ticket_df.apply(format_year_quarter, axis=1)

In [72]:
ticket_df.head(2)

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year,dealay_days,Category,YearMonth,Year_new,Quarter,yr_qtr
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Resolved,2021-02-16 09:49:14,2021-06-02 14:10:57,2021,106.0,more than 20 days,2021-02,2021,1,2021-Q1
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Resolved,2021-03-09 12:38:36,2021-06-02 14:11:07,2021,85.0,more than 20 days,2021-03,2021,1,2021-Q1

In [73]:
ticket_df.groupby('yr_qtr')['Ticket No'].count()

yr_qtr
2021-Q1      2
2021-Q2     25
2021-Q3     30
2021-Q4     22
2022-Q1     36
2022-Q2     24
2022-Q3     52
2022-Q4     31
2023-Q1     46
2023-Q2     66
2023-Q3    147
2023-Q4      2
Name: Ticket No, dtype: int64

In [98]:
df1=ticket_df.groupby(['year','yr_qtr','Priority'])['Ticket No'].count()
df1=pd.DataFrame(df1)
df1=df1.reset_index()
df1

    year   yr_qtr Priority  Ticket No
0   2021  2021-Q1   Medium          2
1   2021  2021-Q2     High          6
2   2021  2021-Q2      Low          3
3   2021  2021-Q2   Medium         15
4   2021  2021-Q2   Urgent          1
5   2021  2021-Q3     High         19
6   2021  2021-Q3      Low          1
7   2021  2021-Q3   Medium          8
8   2021  2021-Q3   Urgent          2
9   2021  2021-Q4     High         11
10  2021  2021-Q4      Low          2
11  2021  2021-Q4   Medium          8
12  2021  2021-Q4   Urgent          1
13  2022  2022-Q1     High          8
14  2022  2022-Q1      Low          6
15  2022  2022-Q1   Medium          4
16  2022  2022-Q1   Urgent         18
17  2022  2022-Q2     High         10
18  2022  2022-Q2      Low          5
19  2022  2022-Q2   Medium          2
20  2022  2022-Q2   Urgent          7
21  2022  2022-Q3     High         31
22  2022  2022-Q3      Low         10
23  2022  2022-Q3   Medium          3
24  2022  2022-Q3   Urgent          8
25  2022  2022-Q4     High         15
26  2022  2022-Q4      Low         10
27  2022  2022-Q4   Medium          5
28  2022  2022-Q4   Urgent          1
29  2023  2023-Q1     High          1
30  2023  2023-Q1      Low         34
31  2023  2023-Q1   Medium         11
32  2023  2023-Q2     High          5
33  2023  2023-Q2      Low         27
34  2023  2023-Q2   Medium         29
35  2023  2023-Q2   Urgent          5
36  2023  2023-Q3     High          9
37  2023  2023-Q3      Low         76
38  2023  2023-Q3   Medium         53
39  2023  2023-Q3   Urgent          9
40  2023  2023-Q4   Medium          1
41  2023  2023-Q4   Urgent          1

In [86]:
df_yr_qtr=ticket_df.groupby(['yr_qtr','Priority'])['Ticket No'].count().unstack()
df_yr_qtr=pd.DataFrame(df_yr_qtr)
df_yr_qtr

Priority  High   Low  Medium  Urgent
yr_qtr
2021-Q1    NaN   NaN     2.0     NaN
2021-Q2    6.0   3.0    15.0     1.0
2021-Q3   19.0   1.0     8.0     2.0
2021-Q4   11.0   2.0     8.0     1.0
2022-Q1    8.0   6.0     4.0    18.0
2022-Q2   10.0   5.0     2.0     7.0
2022-Q3   31.0  10.0     3.0     8.0
2022-Q4   15.0  10.0     5.0     1.0
2023-Q1    1.0  34.0    11.0     NaN
2023-Q2    5.0  27.0    29.0     5.0
2023-Q3    9.0  76.0    53.0     9.0
2023-Q4    NaN   NaN     1.0     1.0

In [ ]:
ticket_df.groupby(['yr_qtr','Priority'])['Ticket No'].count()

In [100]:
ticket_df.head(4)

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year,dealay_days,Category,YearMonth,Year_new,Quarter,yr_qtr
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Resolved,2021-02-16 09:49:14,2021-06-02 14:10:57,2021,106.0,more than 20 days,2021-02,2021,1,2021-Q1
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Resolved,2021-03-09 12:38:36,2021-06-02 14:11:07,2021,85.0,more than 20 days,2021-03,2021,1,2021-Q1
2,1000000101,515799,2021-04-12 15:27:33,MDMS,vijay bharoliya,High,Notification Related,Notifications (Welcome Message),Other,Resolved,2021-04-13 15:27:33,2021-06-02 14:12:00,2021,49.0,more than 20 days,2021-04,2021,2,2021-Q2
3,1000000107,387235,2021-04-19 14:18:39,MDMS,vijay bharoliya,Low,Any other issue - Smart Meter,Any other issue - Smart Meter,Other,Resolved,2021-04-29 14:18:39,2021-06-02 14:08:18,2021,33.0,more than 20 days,2021-04,2021,2,2021-Q2

In [101]:
df2=ticket_df.groupby(['year','yr_qtr','Status'])['Ticket No'].count()
df2=pd.DataFrame(df2)
df2=df2.reset_index()
df2

    year   yr_qtr      Status  Ticket No
0   2021  2021-Q1    Resolved          2
1   2021  2021-Q2    Resolved         25
2   2021  2021-Q3    Resolved         30
3   2021  2021-Q4    Resolved         22
4   2022  2022-Q1    Resolved         36
5   2022  2022-Q2    Resolved         24
6   2022  2022-Q3    Resolved         52
7   2022  2022-Q4        Open          3
8   2022  2022-Q4    Resolved         28
9   2023  2023-Q1  In Process          1
10  2023  2023-Q1    Resolved         45
11  2023  2023-Q2  In Process          5
12  2023  2023-Q2        Open          2
13  2023  2023-Q2    Resolved         59
14  2023  2023-Q3  In Process         21
15  2023  2023-Q3        Open         57
16  2023  2023-Q3    Resolved         69
17  2023  2023-Q4  In Process          2

In [71]:
ticket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483 entries, 0 to 482
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Consumer ID     483 non-null    int64
 1   Ticket No       483 non-null    int64
 2   Date / Time     483 non-null    datetime64[ns]
 3   Department      483 non-null    object
 4   Assignee        438 non-null    object
 5   Priority        483 non-null    object
 6   Issue Type      483 non-null    object
 7   Issue Sub Type  483 non-null    object
 8   Source          483 non-null    object
 9   Status          483 non-null    object
 10  Due Date        483 non-null    datetime64[ns]
 11  Resolve Date    392 non-null    datetime64[ns]
 12  year            483 non-null    int32
 13  dealay_days     483 non-null    float64
 14  Category        483 non-null    object
 15  YearMonth       483 non-null    object
 16  Year_new        483 non-null    int32
 17  Quarter         483 non-null    int32
 18  yr_qtr          483 non-null    object
dtypes: datetime64[ns](3), float64(1), int32(3), int64(2), object(10)
memory usage: 66.2+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483 entries, 0 to 482
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Consumer ID            483 non-null    int64
 1   Ticket No              483 non-null    int64
 2   Date / Time            483 non-null    datetime64[ns]
 3   Department             483 non-null    object
 4   Assignee               438 non-null    object
 5   Priority               483 non-null    object
 6   Issue Type             483 non-null    object
 7   Issue Sub Type         483 non-null    object
 8   Source                 483 non-null    object
 9   Status                 483 non-null    object
 10  Due Date               483 non-null    datetime64[ns]
 11  Resolve Date           392 non-null    datetime64[ns]
 12  year                   483 non-null    int32
 13  dealay_days            483 non-null    float64
 14  Category               483 non-null    object
 15  YearMonth              483 non-null    object
 16  Year_new               483 non-null    datetime64[ns]
 17  Quarter                483 non-null    int32
 18  YearQuarter            483 non-null    object
 19  Year_check             483 non-null    datetime64[ns]
 20  YearQuarter_new        483 non-null    object
 21  Year_alpha             483 non-null    int32
 22  Quarter_new_new_check  483 non-null    int64
 23  YearQuarter_new_check  483 non-null    object
dtypes: datetime64[ns](5), float64(1), int32(3), int64(3), object(12)
memory usage: 85.0+ KB

In [22]:
ticket_df['year'] = ticket_df['year'].astype(str)

In [25]:
ticket_df['Quarter'] = ticket_df['Quarter'].astype(str)

In [26]:
ticket_df['yr_qtr']=ticket_df['year']+ '-' +ticket_df['Quarter']

In [28]:
ticket_df['yr_qtr'].unique()

array(['2021-1', '2021-2', '2021-3', '2021-4', '2022-1', '2022-2',
       '2022-3', '2022-4', '2023-1', '2023-2', '2023-3', '2023-4'],
      dtype=object)

In [8]:
#ticket_df[(ticket_df['Issue Type']=='Notification Related')]

In [30]:
ticket_df['year'].dt.year.unique().tolist()

AttributeError: Can only use .dt accessor with datetimelike values

In [21]:
ticket_df['Assignee'].unique().tolist()

['vijay bharoliya',
 'Sudhakar Yadav',
 'Pushpendra Singh',
 'Rattnam Choubey',
 'Gayatri kulkarni',
 'Girdhar Tripathi',
 'Amit Sonkar',
 'Admin User',
 'Satyam kumar',
 nan,
 'Ajay chalke',
 'Durga Sri',
 'Rohit Dayal']

In [ ]:
select_Startup = st.sidebar.selectbox('select startup',sorted(df['Issue Type'].unique().tolist()))
    btn1=st.sidebar.button('find startup detail')

# priority ticket

In [ ]:


# total no. of ticket as per priority

In [22]:
ticket_df.head(2)

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Closed,2021-02-16 09:49:14,2021-06-02 14:10:57
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Closed,2021-03-09 12:38:36,2021-06-02 14:11:07

In [30]:

total_count=ticket_df[(ticket_df['Priority']=='Medium')].count().head(1).values[0]
total_count
#Division_wise_Meter_Replacement_and_New_Connection[(Division_wise_Meter_Replacement_and_New_Connection['STATUS']=='SUCCESS')]

141

In [31]:
ticket_df[(ticket_df['Priority']=='select_ticket_priority')]['Ticket No'].count()

0

In [35]:
ticket_df[(ticket_df['Priority']=='Medium')].count().values[0]

141

In [34]:
ticket_df[(ticket_df['Priority']=='select_ticket_priority')].count().values[0]

0

In [42]:
#ticket_df[(ticket_df['Issue Type']=='Excess/less Consumption') & (ticket_df['Priority']=='Medium')]

In [52]:
ticket_df[ticket_df['Priority']=='Low'].count().values[0]

174

In [48]:
ticket_df.head()

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Closed,2021-02-16 09:49:14,2021-06-02 14:10:57,2021
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Closed,2021-03-09 12:38:36,2021-06-02 14:11:07,2021
2,1000000101,515799,2021-04-12 15:27:33,MDMS,vijay bharoliya,High,Notification Related,Notifications (Welcome Message),Other,Closed,2021-04-13 15:27:33,2021-06-02 14:12:00,2021
3,1000000107,387235,2021-04-19 14:18:39,MDMS,vijay bharoliya,Low,Any other issue - Smart Meter,Any other issue - Smart Meter,Other,Closed,2021-04-29 14:18:39,2021-06-02 14:08:18,2021
4,1000000101,541307,2021-04-19 15:16:15,MDMS,vijay bharoliya,Low,Internal ID Creation,Internal ID Creation,Email,Closed,2021-04-29 15:16:15,2021-06-02 14:11:54,2021

In [78]:
#ticket_df['year'] = pd.to_datetime(ticket_df['year'])

In [82]:
ticket_df.head(3)

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Resolved,2021-02-16 09:49:14,2021-06-02 14:10:57,2021
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Resolved,2021-03-09 12:38:36,2021-06-02 14:11:07,2021
2,1000000101,515799,2021-04-12 15:27:33,MDMS,vijay bharoliya,High,Notification Related,Notifications (Welcome Message),Other,Resolved,2021-04-13 15:27:33,2021-06-02 14:12:00,2021

In [49]:
ticket_df['Priority'].unique().tolist()

['Medium', 'High', 'Low', 'Urgent']

In [55]:
ticket_df.groupby('Issue Type')['Ticket No'].count().sort_values(ascending=False)

Issue Type
MDMS Related                     176
Any other issue - Smart Meter     99
Internal ID Creation              44
Smart Meter (Query)               43
Excess/less Consumption           42
Excess/less Charge Deduction      24
Notification Related              12
New Development Related           11
Non-smart meter related           10
Recharge Related                   6
Infrastructure                     5
App related issue (SCM)            3
Disconnection Related              3
HES ( Head end System)             2
WFM (Work force management)        2
Balance / Recharge                 1
Name: Ticket No, dtype: int64

In [63]:
ticket_df.groupby(['year','Priority'])['Ticket No'].count().unstack()

Priority  High  Low  Medium  Urgent
year
2021        36    6      33       4
2022        64   31      14      34
2023        15  137      94      15

In [ ]:
df.groupby(['Year', 'Category']).sum().unstack()

In [66]:
ticket_df['Status']=ticket_df['Status'].replace(['Closed'], 'Resolved')

In [67]:
#

ticket_df[ticket_df['Priority']=='Low'].groupby('Status')['Ticket No'].count()

Status
In Process     17
Open           31
Resolved      126
Name: Ticket No, dtype: int64

In [68]:
ticket_df['Priority'].unique()

array(['Medium', 'High', 'Low', 'Urgent'], dtype=object)

In [ ]:
ticket_df.groupby('Issue Type')['Ticket No'].count().sort_values(ascending=False)

In [71]:
issue_type_year_wise=ticket_df[ticket_df['Issue Type']=='Excess/less Charge Deduction'].groupby('year')['Ticket No'].count()

year
2021     5
2022     6
2023    13
Name: Ticket No, dtype: int64

In [73]:
issue_type_status_wise=ticket_df[ticket_df['Issue Type']=='Excess/less Charge Deduction'].groupby('Status')['Ticket No'].count()

Status
In Process     1
Open           2
Resolved      21
Name: Ticket No, dtype: int64

In [77]:
ticket_df[(ticket_df['Issue Type']=='Excess/less Charge Deduction')  & ((ticket_df['Status']=='Open') | (ticket_df['Status']=='In Process')) ]

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year
456,1000000107,413729,2023-09-12 13:10:21,MDMS,NaN,Medium,Excess/less Charge Deduction,Excess/less charge Deduction rel,Other,Open,2023-09-15 13:10:21,NaT,2023
476,1000000101,709052,2023-09-26 13:04:32,MDMS,Rattnam Choubey,Medium,Excess/less Charge Deduction,Excess/less charge Deduction rel,Email,Open,2023-09-29 13:04:32,NaT,2023
478,1000000101,281086,2023-09-29 17:46:55,MDMS,Gayatri kulkarni,Medium,Excess/less Charge Deduction,Excess/less charge Deduction rel,Phone,In Process,2023-10-02 17:46:55,NaT,2023

In [101]:
ticket_df.head()

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year,dealay_days
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Resolved,2021-02-16 09:49:14,2021-06-02 14:10:57,2021,106.0
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Resolved,2021-03-09 12:38:36,2021-06-02 14:11:07,2021,85.0
2,1000000101,515799,2021-04-12 15:27:33,MDMS,vijay bharoliya,High,Notification Related,Notifications (Welcome Message),Other,Resolved,2021-04-13 15:27:33,2021-06-02 14:12:00,2021,49.0
3,1000000107,387235,2021-04-19 14:18:39,MDMS,vijay bharoliya,Low,Any other issue - Smart Meter,Any other issue - Smart Meter,Other,Resolved,2021-04-29 14:18:39,2021-06-02 14:08:18,2021,33.0
4,1000000101,541307,2021-04-19 15:16:15,MDMS,vijay bharoliya,Low,Internal ID Creation,Internal ID Creation,Email,Resolved,2021-04-29 15:16:15,2021-06-02 14:11:54,2021,33.0

In [83]:
ticket_df.groupby('year')['Ticket No'].count()

year
2021     79
2022    143
2023    261
Name: Ticket No, dtype: int64

In [100]:
ticket_df['dealay_days']=(ticket_df['Resolve Date'] - ticket_df['Due Date']).dt.days

In [91]:

ticket_df[ticket_df['year']==2022].groupby('Status')['Ticket No'].count()

Status
Open          3
Resolved    140
Name: Ticket No, dtype: int64

In [109]:
 ticket_df['dealay_days'].tail()

478   NaN
479   NaN
480   NaN
481   NaN
482   NaN
Name: dealay_days, dtype: float64

In [107]:
ticket_df[ticket_df['dealay_days']<0]

Empty DataFrame
Columns: [Consumer ID, Ticket No, Date / Time, Department, Assignee, Priority, Issue Type, Issue Sub Type, Source, Status, Due Date, Resolve Date, year, dealay_days]
Index: []

In [105]:
ticket_df.loc[ticket_df['dealay_days'] < 1, 'dealay_days'] = 0

In [111]:
ticket_df['dealay_days'] = ticket_df['dealay_days'].fillna(0)

In [112]:
ticket_df['dealay_days'].tail()

478    0.0
479    0.0
480    0.0
481    0.0
482    0.0
Name: dealay_days, dtype: float64

In [142]:
ticket_delay_days = ticket_df[(ticket_df['year']==2023) & (ticket_df['dealay_days'] > 0)].groupby('dealay_days')['Ticket No'].count()

In [208]:
ticket_df['Category']=ticket_df['dealay_days'].apply(lambda x: 
    'In Process or Open' if x == -5 else(
    'No delay' if x == 0 else(
    'less than 6 days' if x < 5 else (
    'less than 10 days' if x < 10 else (
    'less than 20 days' if x < 21 else 'more than 20 days')))))

In [209]:
ticket_df.groupby('Category')['dealay_days'].count()

Category
In Process or Open     91
No delay              190
less than 10 days      37
less than 20 days      40
less than 6 days       60
more than 20 days      65
Name: dealay_days, dtype: int64

In [ ]:
ticket_df[ticket_df['year'].isin(option_year) & ticket_df['Priority'].isin(option_priority) & ticket_df['Issue Type'].isin(option_issue_type)].groupby('Category')['dealay_days'].count()

In [210]:
ticket_hist= ticket_df[ticket_df['year'].isin([2022,2023]) & ticket_df['Priority'].isin(['High','Medium']) & ticket_df['Issue Type'].isin(['Excess/less Consumption','Notification Related'])].groupby('Category')['dealay_days'].count()

In [216]:
pd.DataFrame(ticket_hist)

                    dealay_days
Category
In Process or Open           15
No delay                      8
less than 20 days             7
less than 6 days              6
more than 20 days             8

In [199]:
ticket_df[(ticket_df['year']==2023) & ticket_df['Priority'].isin(['High','Medium'])].groupby('Category')['dealay_days'].count()

Category
No delay             59
less than 10 days     6
less than 20 days     9
less than 6 days     14
more than 20 days    21
Name: dealay_days, dtype: int64

In [198]:
ticket_df.head(1)

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year,dealay_days,Category
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Resolved,2021-02-16 09:49:14,2021-06-02 14:10:57,2021,106.0,more than 20 days

In [207]:
ticket_df[(ticket_df['Category']=='No delay')]

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year,dealay_days,Category
20,1000000107,290000,2021-06-01 11:54:46,MDMS,vijay bharoliya,Medium,Any other issue - Smart Meter,Any other issue - Smart Meter,Phone,Resolved,2021-06-04 11:54:46,2021-06-02 14:07:37,2021,0.0,No delay
21,1000000107,918990,2021-06-02 13:15:13,MDMS,vijay bharoliya,High,Any other issue - Smart Meter,Any other issue - Smart Meter,Email,Resolved,2021-06-03 13:15:13,2021-06-02 14:06:21,2021,0.0,No delay
22,1000000107,205942,2021-06-02 13:18:46,MDMS,vijay bharoliya,Medium,Any other issue - Smart Meter,Any other issue - Smart Meter,Email,Resolved,2021-06-05 13:18:46,2021-06-02 14:55:55,2021,0.0,No delay
23,1000000107,521732,2021-06-02 13:24:51,MDMS,Sudhakar Yadav,Low,Any other issue - Smart Meter,Any other issue - Smart Meter,Email,Resolved,2021-06-12 13:24:51,2021-06-11 14:01:02,2021,0.0,No delay
27,1000000107,953739,2021-07-07 11:38:52,MDMS,vijay bharoliya,High,Any other issue - Smart Meter,Any other issue - Smart Meter,Email,Resolved,2021-07-08 11:38:52,2021-07-07 13:29:32,2021,0.0,No delay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,1000000101,281086,2023-09-29 17:46:55,MDMS,Gayatri kulkarni,Medium,Excess/less Charge Deduction,Excess/less charge Deduction rel,Phone,In Process,2023-10-02 17:46:55,NaT,2023,-5.0,No delay
479,1000000101,251726,2023-09-30 12:08:14,MDMS,Gayatri kulkarni,Low,MDMS Related,Any Other,Email,Open,2023-10-10 12:08:14,NaT,2023,-5.0,No delay
480,1000000101,557952,2023-09-30 12:25:45,MDMS,Gayatri kulkarni,High,MDMS Related,Slow RC/DC,Other,Open,2023-10-01 12:25:45,NaT,2023,-5.0,No delay
481,1000000107,951064,2023-10-04 11:38:18,MDMS,Gayatri kulkarni,Medium,MDMS Related,BIRT Report,Other,In Process,2023-10-07 11:38:18,NaT,2023,-5.0,No delay
482,1000000101,598636,2023-10-06 18:18:53,MDMS,Gayatri kulkarni,Urgent,MDMS Related,Service Request related,Phone,In Process,2023-10-07 00:18:53,NaT,2023,-5.0,No delay

In [201]:
ticket_df['dealay_days']=(ticket_df['Resolve Date'] - ticket_df['Due Date']).dt.days

In [206]:
ticket_df['dealay_days'] = ticket_df['dealay_days'].fillna(-5)

In [204]:
ticket_df.loc[ticket_df['dealay_days'] < 1, 'dealay_days'] = 0

In [188]:
a.groupby('Category')['Ticket No'].sum()

Category
below 6 days     27
below 11 days    12
below 20 days    11
above 20 days    32
Name: Ticket No, dtype: int64

In [175]:
k=0
L=0
M=0
N=0
for i,j in a.iterrows():
    if j['dealay_days'] < 6:
        
        k=k+j['Ticket No']

    elif j['dealay_days'] > 5 and j['dealay_days'] < 11 :
        L=L+j['Ticket No']

    elif j['dealay_days'] > 11 and j['dealay_days'] < 21 :
        M=M+j['Ticket No']
    
    else:
        N=N+j['Ticket No']


print(k)
print(L)
print(M)
print(N)

27.0
12.0
8.0
35.0

In [187]:
a.head(7)

   dealay_days  Ticket No       Category
0          1.0          4   below 6 days
1          2.0          9   below 6 days
2          3.0          7   below 6 days
3          4.0          4   below 6 days
4          5.0          3   below 6 days
5          6.0          2  below 11 days
6          7.0          1  below 11 days

In [185]:
#import pandas as pd

# Sample data
#data = {'delay_days': [1.0, 2.0, 3.0, 4.0, 5.0],
    #    'Ticket No': [4, 9, 7, 4, 3]}

# Create a DataFrame
#df = pd.DataFrame(data)

# Define the categories
categories = [5, 10, 20]

# Create a new column with the category for each row
a['Category'] = pd.cut(a['dealay_days'], bins=[-1] + categories + [float('inf')], 
                       labels=['below 6 days', 'below 11 days', 'below 20 days', 'above 20 days'])

# Group by category and count the tickets in each category
category_counts = a['Category'].value_counts().reset_index()
category_counts.columns = ['Category', 'Count']

# Sort the DataFrame by category
category_counts = category_counts.sort_values(by='Category')

# Print the resulting DataFrame
print(category_counts)

        Category  Count
2   below 6 days      5
3  below 11 days      5
1  below 20 days      7
0  above 20 days     18

In [225]:
ticket_df.head()

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year,dealay_days,Category
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Resolved,2021-02-16 09:49:14,2021-06-02 14:10:57,2021,106.0,more than 20 days
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Resolved,2021-03-09 12:38:36,2021-06-02 14:11:07,2021,85.0,more than 20 days
2,1000000101,515799,2021-04-12 15:27:33,MDMS,vijay bharoliya,High,Notification Related,Notifications (Welcome Message),Other,Resolved,2021-04-13 15:27:33,2021-06-02 14:12:00,2021,49.0,more than 20 days
3,1000000107,387235,2021-04-19 14:18:39,MDMS,vijay bharoliya,Low,Any other issue - Smart Meter,Any other issue - Smart Meter,Other,Resolved,2021-04-29 14:18:39,2021-06-02 14:08:18,2021,33.0,more than 20 days
4,1000000101,541307,2021-04-19 15:16:15,MDMS,vijay bharoliya,Low,Internal ID Creation,Internal ID Creation,Email,Resolved,2021-04-29 15:16:15,2021-06-02 14:11:54,2021,33.0,more than 20 days

In [140]:
ticket_df[ticket_df['year'].isin([2023]) & ticket_df['Priority'].isin(['High','Medium']) & ticket_df['Issue Type'].isin(['Excess/less Consumption','Notification Related'])].groupby('Status')['Ticket No'].count()

Status
Open        15
Resolved    24
Name: Ticket No, dtype: int64

In [222]:
#total year count
ticket_year_count=ticket_df[ticket_df['year'].isin([2023])].groupby('year')['Ticket No'].count()

In [224]:
ticket_year_count=pd.DataFrame(ticket_year_count)
ticket_year_count

      Ticket No
year
2023        261

In [226]:
ticket_df.head()

,Consumer ID,Ticket No,Date / Time,Department,Assignee,Priority,Issue Type,Issue Sub Type,Source,Status,Due Date,Resolve Date,year,dealay_days,Category
0,400542027,166329,2021-02-13 09:49:14,MDMS,vijay bharoliya,Medium,Excess/less Consumption,Charge Calculation/Consumption,Phone,Resolved,2021-02-16 09:49:14,2021-06-02 14:10:57,2021,106.0,more than 20 days
1,400534366,939634,2021-03-06 12:38:36,MDMS,vijay bharoliya,Medium,Excess/less Charge Deduction,Arrear Balance,Phone,Resolved,2021-03-09 12:38:36,2021-06-02 14:11:07,2021,85.0,more than 20 days
2,1000000101,515799,2021-04-12 15:27:33,MDMS,vijay bharoliya,High,Notification Related,Notifications (Welcome Message),Other,Resolved,2021-04-13 15:27:33,2021-06-02 14:12:00,2021,49.0,more than 20 days
3,1000000107,387235,2021-04-19 14:18:39,MDMS,vijay bharoliya,Low,Any other issue - Smart Meter,Any other issue - Smart Meter,Other,Resolved,2021-04-29 14:18:39,2021-06-02 14:08:18,2021,33.0,more than 20 days
4,1000000101,541307,2021-04-19 15:16:15,MDMS,vijay bharoliya,Low,Internal ID Creation,Internal ID Creation,Email,Resolved,2021-04-29 15:16:15,2021-06-02 14:11:54,2021,33.0,more than 20 days

In [228]:
ticket_df['YearMonth'] .head()

0    2021-02
1    2021-03
2    2021-04
3    2021-04
4    2021-04
Name: YearMonth, dtype: object

In [233]:
ticket_df[ticket_df['year'].isin([2022])].groupby('YearMonth')['Ticket No'].count()

YearMonth
2022-01    14
2022-02    11
2022-03    11
2022-04     7
2022-05     7
2022-06    10
2022-07     7
2022-08    22
2022-09    23
2022-10     9
2022-11    11
2022-12    11
Name: Ticket No, dtype: int64

In [ ]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt

# Sample data
data = {'YearMonth': ['2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12'],
        'Count': [14, 11, 11, 7, 7, 10, 7, 22, 23, 9, 11, 11]}

# Create a DataFrame
df = pd.DataFrame(data)

# Set the 'YearMonth' column as the index (if it's not already)
df.set_index('YearMonth', inplace=True)

# Create a Streamlit app
st.title('Line Chart of Counts by YearMonth')
st.line_chart(df)

# Display the DataFrame
st.dataframe(df)

In [1]:
ticket_df.head(1)

NameError: name 'ticket_df' is not defined